body {
  background: url("img/BG_1.JPG") center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header {
  margin-top: 58px;
}
.header_left {
  margin-left: -37px;
  top: 17px;
}
.header_border--lower {
  padding: 17px 6px;
  width: 200px;
  margin-left: -6px;
  margin-bottom: -27px;
  border: 1px solid white;
}
.header_border--upper {
  padding: 17px 6px;
  width: 207px;
  margin-top: -38px;
  box-shadow: 0px 0.5px #000000;
  border: 1px solid white;
}
.header_left--logo {
  width: 173.86px;
  height: auto;
}
.header_right--logo {
  width: 47.37px;
  height: auto;
}
.header_text {
  background-color: #ffffff;
  border: 1px solid white;
  padding: 3px 32px;
  text-align: center;
  text-decoration: none;
  width: 200px;
  font-weight: bolder;
  display: inline-block;
}

.playinfo {
  margin-top: 71px;
  width: 280px;
  height: 360px;
  background-color: #4a4a4a;
  color: #ffffff;
}
.playinfo_profile {
  border-radius: 50%;
  widows: 73px;
  height: 73px;
}
.playinfo_profile-text {
  padding-top: 10px;
  padding-left: 9px;
}
.playinfo-border {
  border: 2px solid #ffffff7a;
  padding: 178px 7px;
  width: 280px;
  display: inline-block;
  margin-bottom: -450px;
  margin-left: 201px;
}
.playinfo-text {
  font-family: Euclid Flex;
  font-size: 10px;
  height: 94px;
  line-height: 21px;
  width: 215px;
  text-align: left;
  color: white;
}
.playinfo_footer-fblogo {
  width: 118px;
  height: 17px;
}
.playinfo_footer-horizontalline {
  margin-top: 20px;
  margin-bottom: 10px;
  border: 0;
  border-top: 2px solid #eeeeee8f;
}
.playinfo_nav {
  cursor: pointer;
}
.playinfo_nav-righthorizontalline {
  border-bottom: 1.6px solid #ffffff96;
  margin: 11px -15px 17px;
  width: 146px;
}
.playinfo_nav-right {
  cursor: pointer;
  font-size: 10px;
  font-family: Euclid Flex;
  padding-left: 50px;
  color: #ffffffb8;
}
.playinfo_nav-left {
  font-size: 10px;
  font-family: Euclid Flex;
  color: #ffffffb8;
}
.playinfo_nav-lefthorizontalline {
  border-bottom: 5px solid white;
  margin: 11px -15px 17px;
  width: 146px;
}
.playinfo_nav-text {
  margin-top: 8px;
}
.playinfo_nav-text-righthorizontalline {
  border-bottom: 1.6px solid #ffffff96;
  margin: 11px -15px 17px;
  width: 146px;
}
.playinfo-block {
  height: 126px;
}

.play {
  color: white;
  background-color: #3f3f3fd1;
  width: 474px;
  text-align: center;
  margin-top: 54px;
  margin-left: 19px;
  line-height: 40px;
  height: 140px;
  cursor: pointer;
}
.play-background {
  position: inherit;
  z-index: -1;
  background-color: #4c4c4c;
  position: inherit;
  z-index: 1;
}
.play_text {
  font-size: 8px;
  width: 66px;
  height: 10px;
  font-family: Euclid Flex;
  text-align: right;
}
.play_logo {
  width: 21px;
  height: 20px;
  margin-top: 131px;
}
.play_logo-top {
  width: 12px;
  height: 20px;
  display: none;
}
.play_logo-middle {
  width: 12px;
  height: 20px;
}
.play_logo-bottom {
  width: 12px;
  height: 20px;
  display: none;
}
.play-border {
  margin-top: -218px;
  border: 2px solid #ffffff96;
  padding: 68px 7px;
  width: 472px;
  margin-left: 501px;
  position: absolute;
  z-index: -1;
}

.footer {
  position: fixed;
  bottom: 45px;
  width: 100%;
}
.footer_right {
  text-align: right;
  margin-top: -113px;
  height: 59.89px;
}
.footer_right--logo {
  width: 139.17px;
}
.footer_fb--logo {
  width: 56.69px;
  height: 20.28px;
}
.footer--verticalLine {
  border-left: 2px solid #ffffff85;
  height: 41.5px;
  width: 1px;
  margin-left: -24px;
  margin-top: -12px;
}
.footer_nicobar--logo {
  width: 129.88px;
  height: auto;
}
.footer_logo-pause {
  left: 10px;
}

/*# sourceMappingURL=Radio.css.map */
