body{
    background-image: url("img/BG_1.JPG");
    background-repeat: no-repeat;
  background-size: cover;
    
}
.header-logo{
        margin-top: 58PX;
}
.nicoRadio-head{
    margin-left: -37px;
    top: 17px;
}
.Rectangle-head{
    background-color: #FFFFFF; 
    border: 1px solid white;
    padding: 3px 32px;
    text-align: center;
    text-decoration: none;
    width: 200px;
    font-weight: bolder;
    display: inline-block;

}
.ractangler-border{
      border: 1px solid white;
}

.rect-upper{
    padding: 17px 6px;
    width: 200px;
    margin-left: -6px;
    margin-bottom: -27px;
}

.rect-lower {
    padding: 17px 6px;
    width: 207px;
    margin-top: -38px;
    box-shadow: 0px 0.5px #000000;
}
.rect-box{
    margin-top: 71px;
     width: 280px;
     height: 360px;
    background-color: #4A4A4A;
    color: #FFFFFF;    
    
}
.footer-logo{
 margin-top: 86px;
}
.footer-right-logo{
    text-align: right;
    margin-top: -113px;
    height: 145px;
}
.verticalLine {
  border-left: 2px solid #ffffff85;
  height: 41.5px;
  width: 1px;
  margin-left: -24px;
  margin-top: -12px;
}
.section-border{
    border: 2px solid #ffffff7a;
    padding: 178px 7px;
    width: 280px;
    display: inline-block;
    margin-bottom: -450px;
    margin-left: 201px;
}
.rect-box2{
    color: white;
    background-color: #3f3f3fd1;
    width: 474px;
    text-align: center;
    margin-top: 54px;
    margin-left: 19px;  
    line-height: 40px;   
    height: 140px;
    cursor: pointer;
}
.section-border2{
    margin-top: -218px;
    border: 2px solid #ffffff96;
    padding: 68px 7px;
    width: 472px;
    /* display: inline-block; */
    /* margin-bottom: -550px; */
    margin-left: 501px;
    position: absolute;
    /* left: 0px; */
    /* top: 0px; */
    z-index: -1;
}
.rect-play{
    position: inherit;
    z-index: -1;
    background-color: #4C4C4C;
    position: inherit;
    z-index: 1;
    
    
}
.rect-Text{
       font-family: Euclid Flex;
    font-size: 10px;
    height: 94px;
    line-height: 21px;
    width: 215px;
    text-align: left;
    color: white;
}
.Block-line{
 margin-top: 20px;
  margin-bottom: 10px;
  border: 0;
  border-top: 2px solid #eeeeee8f;
}
.rect-box-border1{
    border-bottom: 1.6px solid #ffffff96;
    margin: 11px -15px 17px;
    width: 146px;
}
.rect-box-border{
    border-bottom: 5px solid white;
    margin: 11px -15px 17px;
    width: 146px;
}
.fbLogo{
    margin-left: -13px;
}
#OURCURATOR{
    font-size: 10px; font-family: Euclid Flex;color: #ffffffb8;
}
#STORY{
    cursor: pointer;font-size: 10px; font-family: Euclid Flex;padding-left: 50px;color: #ffffffb8;
}
.logo-left{
     left: 10px;
}
.Play-Text{
    font-size: 8px;
    width:  66px;
    height:  10px;
    font-family: Euclid Flex;
    text-align: right;
}
.rect-ourstoty{
    cursor: pointer;
}